.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.fa-pen-to-square {
	margin-right: 20px;
}

.modalWrapper, .modalWrapper2{
	overflow: auto;
	width: 630px;
	height: 688px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.jsModalClose {
	width: 100%;
	display: flex;
	justify-content: end;
	margin-right: 60px;
}

.jsModalClose, .jsModalClose1 {
	border: none;
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
}

#titleModal {
	font-family: 'Work Sans';
	font-size: 26px;
	text-align: center;
	margin-bottom: 50px;
	color: black;
}

.deletProject{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 50px;
}

.deletProject img {
	width: 76px;
	height: 102px;
	margin-bottom: 20px;
}

.deletProject div {
	position: relative;
}

.deletProject button {
	position: absolute;
	top: 0;
	right: 0;
}

.buttonModalAddPicture, .buttonAddProject {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 40px;
	font-family: 'Syne';
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	background-color: #1D6154;
	width: 180px;
	border-radius: 60px ;
	border: none;
}

/**************************************MODAL2********************************************/



.returnModal1 {
	border: none;
	background-color: white;
}

.towButton {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.addForm {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
}

.divAddFile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 169px;
	width: 420px;
	background-color: #E8F1F6;
	margin-bottom: 30px;
}

#addTitle, #addCategory{
	margin-top: 10px;
	margin-bottom: 20px;
	height: 51px;
	width: 420px;
	border: none;
	box-shadow: 0px 4px 14px 0 #000000 ;
}

.paragraphCategory {
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 40px;
}

#file {
    opacity: 0;
    position: absolute;
    width: 173px;
    height: 36px;
}

.divAddFile label {
    background-color: #B9C5CC;
    color: white;
    width: 173px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 50px;
	margin-bottom: 5px;
}

.fa-image {
	font-size: 60px;
	padding-bottom: 10px;
	color: #B9C5CC;
}

#imgUpdate {
	width: 150px;
	height: 169px;
	
}

.divInput {
	text-align: center;
}